html, body {
    margin: 0px;
    touch-action: manipulation;
}

/* Main Container */
.container {
    width: 100%;
}

p {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    font-family: 'Inter', 'Roboto', sans-serif;
}

/* Three View -------------------------------------------------------------------- */

.threeview-container{
    width: 100%;
    height: 100%;
}

#threeview {
    width: 100%;
    height: 100%;
    display: block;
}

#texture{
    display: none;
    width: 100%;
}

/* Upper Interface -------------------------------------------------------------------- */
.upper-interface {
    position: fixed;
    width: 100%;
    height: 50%;
}

/* Image asset container */
.images-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    display: none;
}
.preload-images {
    width: 100%;
}

.final-texture-container {
    width: 80%;
    margin: auto;
}

/* Final Texture */
.canvas-style {
    width: 100%;
}

/* Selection Banner */
.selection-banner {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 9%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.selection-banner button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.selection-label {
    margin-top: auto;
    margin-bottom: auto;
}
.selection-label p {
    margin: 0;
    text-align: center;
}

/* Lower Interface -------------------------------------------------------------------- */
.lower-interface {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
    color: #ddd;
}

.graphic-buttons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr 1fr;
    z-index: 1;
    grid-template-areas: 
    "compress . up . expand"
    ". . . . ."
    "left . . . right"
    ". . . . ."
    "clock . down . counter"
    ". reset . back .";
}

button > * {
    pointer-events: none;
}

#left-button {grid-area: left;}
#right-button {grid-area: right;}
#up-button {grid-area: up;}
#down-button {grid-area: down;}
#rotate-left-button {grid-area: counter;}
#rotate-right-button {grid-area: clock;}
#scale-up-button {grid-area: expand;}
#scale-down-button {grid-area: compress;}
#reset-button {grid-area: reset;}
#back-button {grid-area: back;}

.graphic-edit-button {
    background-color: #00000077;
    color: #ddd;
    border: none;
    border-radius: 30px;
}

.graphic-selection{
    height: 100%;
}

/* Color or Graphic */
.selection-option p {
    text-align: center;
}

/* Color Selection */
.color-selection {
    display: block;
}
.color-selection-button {
    display: flex;
    justify-content: center;
}
#color-picker {
    width: 50%;
    height: 30px;
    border: none;
    background-color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
}
.interface-button {
    height: 40px;
    border: none;
    background-color: #333;
    color: #ddd;
    font-size: 18px;
}

.graphic-selection {
    display: none;
}

/* Selection Texture */
.selection-texture {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#tempcanvas {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}
